# ignore saved or compiled files
*~
*pyc

# ignore input folder except for sample
input/*
!input/README
!input/sample/sample.corpus

# ignore outputs
output/*
!output/README

# ignore dot files except for this
.*
!.gitignore